<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisplayName</key>
	<string>Qt 5.0</string>
	<key>DefaultProperties</key>
	<dict>
	    <key>PLATFORM_NAME</key>
	    <string>@QMAKE_MAC_PLATFORM_NAME@</string>
	</dict>
	<key>IsBaseSDK</key>
	<string>NO</string>
</dict>
</plist>
